@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,900&display=swap');

/*----------------RESET--------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------------*/

.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px auto 70px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";     
}

/*----------------HEADER----------------------*/

header{
    grid-area: header;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #693f3f; 
}

.navbar-light .navbar-toggler {
    background-color: rgba(136, 136, 136, 0.37);
    border-color: rgba(255, 255, 255, 0.055);
}

h2{
    margin: 0px;
}

.container-fluid h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0px;
    padding-right: 50px;
}

.nav-contenedor{
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 10px; 
    padding-right: 100px;
}    

/*----------------INDEX-MAIN----------------------*/

main{
    grid-area: main;
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.510), rgba(0, 0, 0, 0.510)), url("../img/fondo-index.jpg");
    width: 100%;
    height: calc(100vh - 56px);     
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;    
}

.hero div{
    color: #F0E7D8;
    text-align: center;     
}

.hero div h2{
    font-size: 55px;
    padding: 10px;
    margin-bottom: 40px;
    margin-left:45px;
    width: 550px;
    height: auto;    
}

.hero div p{
    margin-bottom: 100px;
    font-size: 30px;
    color: white;
}

.hero div a{  
    text-decoration: none;
    cursor: pointer; 
    color: #ffffff;
    background-color: #000000;    
    font-size: 20px;
    padding: 15px;
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);  
    transition-property: color; 
    transition-duration: 0.3s;  
}

.hero div a:hover{
    color: #693f3f;      
}

.titulo-bienvenidos  h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 1px solid white;
    color: white;
    background: #693f3f;
    margin:0px;    
}

.titulo-bienvenidos .bienvenidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #00000027;
}

.titulo-bienvenidos .bienvenidos .bienvenidos-text{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(105, 63, 63);    
    text-align: justify; 
    font-size: 20px;
}

.titulo-bienvenidos .bienvenidos .bienvenidos-text p{
    padding: 10px;    
}

.titulo-bienvenidos .bienvenidos .bienvenidos-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px; 
    width: auto;     
}

.titulo-bienvenidos .bienvenidos .bienvenidos-img img{
    width: auto;
    height: 500px;
    border: 1px solid rgb(105, 63, 63); 
}

.titulo-bienvenidos a{    
    text-decoration: none;
    cursor: pointer; 
    color: #ffffff;
    background-color: #000000;
    padding: 20px 25px 20px 25px;
    margin-top:20px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    transition-property: color; 
    transition-duration: 0.3s;  
}

.titulo-bienvenidos a:hover{
    color: #693f3f;
}

/*-----------------------Sección Mapa-------------------*/

.ubicacion{
    background: hsl(0, 0%, 79%);  
    padding-bottom: 20px;
}

.ubicacion h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 2px solid white;
    color: white;
    background: #693f3f;
}

.ubicacion .ubicacion-map{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 50px;
}

.ubicacion .ubicacion-map p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #693f3f; 
}

.ubicacion .ubicacion-map iframe{
    border: 1px solid rgb(105, 63, 63); 
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    background: hsl(0, 0%, 61%);
}

/*----------------------------- Conocenos -----------------------*/

.principal-conocenos{
    background: linear-gradient(rgba(0, 0, 0, 0.510), rgba(0, 0, 0, 0.510)), url(../img/fondo-quienes-somos.jpg);
    width: 100%;
    height: calc(100vh - 56px);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.principal-conocenos h2{
    font-size: 55px;
    color: white;
}

.titulo-conocenos  h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 1px solid white;
    color: white;
    background: #693f3f;
}

.titulo-conocenos .consultorio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #00000027;
}

.titulo-conocenos .consultorio .consultorio-text{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(105, 63, 63);    
    text-align: justify; 
    font-size: 20px;
}

.titulo-conocenos .consultorio .consultorio-text p{
    padding: 10px;    
}

.titulo-conocenos .consultorio .consultorio-img{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 20px;
    padding-bottom: 40px;    
}

.titulo-conocenos .consultorio .consultorio-img img{
    width: 350px;
    height: 450px;
    border: 1px solid rgb(105, 63, 63);  ;   
}

.conocenos{
    font-family: 'Roboto', sans-serif;
    background: hsl(0, 0%, 79%);
}

.conocenos h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 2px solid white;
    color: white;
    background: #693f3f;
}

.conocenos .integrantes{
    padding-bottom: 70px;
} 

.conocenos .integrantes .persona{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
    border: 1px solid rgb(105, 63, 63); 
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    background: hsl(0, 0%, 61%);
}

.conocenos .integrantes .persona .persona-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: justify;
}

.conocenos .integrantes .persona .persona-texto h3{
    font-size: 35px;
    margin-bottom: 50px;
    color:rgb(105, 63, 63); 
}

.conocenos .integrantes .persona .persona-texto p{
    margin: 20px;
    font-size: 20px;
    color: black; 
}

.conocenos .integrantes .persona img{
    width: auto;
    height: 500px;
    padding: 10px;
}

/*----------------------------- Servicios -----------------------*/

.principal-servicios{
    background: linear-gradient(rgba(0, 0, 0, 0.510), rgba(0, 0, 0, 0.510)), url(../img/fondo-servicios.jpg);
    width: 100%;
    height: calc(100vh - 56px);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.principal-servicios h2{
    font-size: 55px;
    color: white;
}

.titulo-servicios .especialidad-contenedor h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 1px solid white;
    color: white;
    background: #693f3f;
}

.titulo-servicios .especialidad-contenedor .especialidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #00000027;
}

.titulo-servicios .especialidad-contenedor .especialidad .especialidad-text{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(105, 63, 63);    
    text-align: justify; 
    font-size: 20px;
}

.titulo-servicios .especialidad-contenedor .especialidad .especialidad-text p{
    padding: 10px;    
}

.titulo-servicios .especialidad-contenedor .especialidad .especialidad-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;    
}

.titulo-servicios .especialidad-contenedor .especialidad .especialidad-img img{
    width: 500px;
    height: auto;
    border: 1px solid rgb(105, 63, 63);  
}

.servicios{
    font-family: 'Roboto', sans-serif;
    background: hsl(0, 0%, 79%);
}

.servicios h2{
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    border: 2px solid white;
    color: white;
    background: #693f3f;
}

.servicios .tratamientos{
    padding-bottom: 70px;
} 

.servicios .tratamientos .tecnica{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
    border: 1px solid rgb(105, 63, 63); 
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    background: hsl(0, 0%, 61%);
}

.servicios .tratamientos .tecnica .tecnica-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: justify;
}

.servicios .tratamientos .tecnica .tecnica-texto h3{
    font-size: 35px;
    margin-bottom: 50px;
    color:rgb(105, 63, 63); 
}

.servicios .tratamientos .tecnica .tecnica-texto p{
    margin: 20px;
    font-size: 20px;
    color: black; 
}

.servicios .tratamientos .tecnica img{
    width: auto;
    height: 500px;
    padding: 10px;
}

/*----------------Contactos--------------------*/

.contacto{
    background: linear-gradient(rgba(0, 0, 0, 0.510), rgba(0, 0, 0, 0.510)), url("../img/fondo-contacto.jpg");
    width: 100%;
    height: calc(100vh - 56px);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 450px;  
    padding-top: 500px; 
}

.contacto form{
    width: 450px;
    margin-right: auto;
    margin-left: auto;    
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contacto form h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.contacto form input, textarea, select{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.contacto form textarea{
    min-height: 100px;
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
}

.boton{
    background: #31384A;
    color: #fff;
    padding: 15px;
}

.boton:hover{
    cursor: pointer;        
}

@media (max-with:480px){
    form{
        width: 100%;
    }
}

/*----------------------------- Turnos -----------------------*/

.principal-turnos{
    background: linear-gradient(rgba(0, 0, 0, 0.510), rgba(0, 0, 0, 0.510)), url(../img/fondo-turnos.jpg);

    width: 100%;
    height: calc(100vh - 56px);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.principal-turnos a{
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    padding: 15px;
    transition-property: color; 
    transition-duration: 0.3s;  
}

.principal-turnos a:hover{
    color: #693f3f;
}

/*----------------------------Fixed---------------------------*/

.fixed{
    position: fixed;
    right: 3%;
    bottom: 10%;
    background-color: #693f3f;
    color: white;    
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;    
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.fixed div h2{
    color: rgb(168, 168, 168);
    font-size: 18px;
    margin-bottom: 7px;
}

.fixed div p{
    font-size: 14px;   
}

/*-----------------------------FOOTER---------------------------*/

footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    grid-area: footer;
}

footer h2{
    color: #693f3f;
    margin-left: 25px;
    font-style: italic;
    font-weight: 900;
}

footer .redes-sociales{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

footer .redes-sociales a{
    transition: 0.5s;
}

footer .redes-sociales a:hover{
    transform: scale(1.2);
}

/*--------------------------------MEDIA QUERY--------------------*/

@media screen and (max-width:1250px){

    .titulo-bienvenidos .bienvenidos .bienvenidos-img img:nth-child(2){        
        display: none;
    }

    .ubicacion .ubicacion-map{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
    }

    .ubicacion .ubicacion-map p{
        text-align: center;        
    }

    .titulo-conocenos .consultorio .consultorio-img img:nth-child(2){
        display: none;
    }

    .titulo-servicios .especialidad-contenedor .especialidad .especialidad-img{
        flex-direction: column;         
    }

    .servicios .tratamientos .tecnica{
        margin: 15px;
    }

    .servicios .tratamientos .tecnica img{
        width: 400px;
        height: 500px;
    }

    .titulo-servicios .especialidad-contenedor .especialidad .especialidad-img img:nth-child(1){
        display: none;
    }
}

@media screen and (max-width:1024px){

    .conocenos .integrantes .persona{
        margin: 15px;
    }    

    .principal-turnos a{        
        font-size: 30px;       
        padding: 10px;         
    }

    .servicios .tratamientos .tecnica{
        flex-direction: column;       
    }
}

@media screen and (max-width:768px){

    .grid-contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 56px auto 70px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "main"
            "footer";     
    }

    .titulo-bienvenidos .bienvenidos .bienvenidos-img{        
        flex-direction: column;
    }

    .titulo-bienvenidos .bienvenidos .bienvenidos-img img{        
        width: 400px;
        height: 500px;
    }

    .fixed{
        display: none;
    }

    .titulo-conocenos .consultorio .consultorio-img{
        flex-direction: column;
    }

    .conocenos .integrantes .persona{
        flex-direction: column;       
    }

    .principal-conocenos h2, .principal-servicios h2, .hero div h2 {
        font-size: 43px;
        text-align: center;
    }

    .titulo-conocenos h2, .conocenos h2, .hero div p{
        font-size: 25px;
        text-align: center;
    }

    .titulo-conocenos .consultorio .consultorio-text{
        font-size: 15px;
    }

    .titulo-bienvenidos .bienvenidos .bienvenidos-img img:nth-child(3){        
        display: none;
    }

    .conocenos .integrantes .persona .persona-texto h3{
        font-size: 30px;
    }

    .conocenos .integrantes .persona .persona-texto p{
        font-size: 15px;
    }

    .servicios .tratamientos .tecnica .tecnica-texto h3{
        text-align: center;
    }

    .hero div{
        width: 650px;
    }

}

@media screen and (max-width:650px){

    .titulo-servicios .especialidad-contenedor .especialidad .especialidad-img img{
        width: 350px;
        height: auto;         
    }   

    .hero div{
        width: 350px;
    }

    .hero div h2{
        width: 320px;
        font-size: 30px;
        margin-left: 0px;
    }

    .titulo-bienvenidos .bienvenidos .bienvenidos-img img {
        width: 320px;
        height: 450px;
    }

    .ubicacion .ubicacion-map iframe{        
        width: 300px;
        height: 300px;
    }
    footer{
        width: 320px;
    }
}