@import "../base/variables";

/*-----------------------------FOOTER---------------------------*/

footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.822);
    @include flex(flex, space-between, center);   
    padding: 15px;
    grid-area: footer;
    h2{
        color: $color-principal; 
        margin-left: 25px;
        font-style: italic;
        font-weight: 900;
    }
    .redes-sociales{
        width: 50%;
        @include flex(flex, space-evenly, center);
        transition: 0.5s;
        a{
            transition: 0.5s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}