
/*--------------------------------MEDIA QUERIES--------------------*/

@media screen and (max-width:1250px){
    main{
        /*--------------------------------Index--------------------*/
        .titulo-bienvenidos{
            .bienvenidos{
                .bienvenidos-img{
                    img:nth-child(2){
                        display: none;
                    }
                }
            } 
        }       
        .ubicacion{
            .ubicacion-map{
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 500px;
                p{
                    text-align: center;     
                } 
            }
        }    
        /*--------------------------------Conócenos--------------------*/
        .titulo-conocenos{
            .consultorio{ 
                .consultorio-img{
                    img:nth-child(2){
                        display: none;
                    }
                }
            }
        }    
        /*--------------------------------Servicios--------------------*/
        .titulo-servicios{ 
            .especialidad-contenedor{
                .especialidad{ 
                    .especialidad-img{
                        flex-direction: column; 
                        img:nth-child(1){
                            display: none;
                        }
                    }
                }
            }
        }   
        .servicios{
            .tratamientos{
                .tecnica{
                    margin: 15px;
                    img{
                        width: 400px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px){
    main{        
        /*--------------------------------Conócenos--------------------*/
        .conocenos{
            .integrantes{
                .persona{
                    margin: 15px;
                }
            }
        }     
        /*--------------------------------Servicios--------------------*/
        .servicios{
            .tratamientos{
                .tecnica{
                    flex-direction: column;
                }
            }
        }       
        /*--------------------------------Turnos--------------------*/        
        .principal-turnos{
            a{        
                font-size: 30px;       
                padding: 10px;
            }         
        }         
    }
}

@media screen and (max-width:768px){
    main{        
        .grid-contenedor{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 56px auto 70px;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "header"
                "main"
                "footer";     
        }
        /*--------------------------------Index--------------------*/  
        .hero{
            div{
                width: 650px;
                h2{
                    font-size: 43px;
                    text-align: center;
                }
                p{
                    font-size: 25px;
                    text-align: center;
                }
            }
        }   
        .titulo-bienvenidos{
            .bienvenidos{
                .bienvenidos-img{        
                    flex-direction: column;
                    img{        
                        width: 400px;
                        height: 500px;
                        &:nth-child(3){
                            display: none;
                        }
                    }
                }
            }
        }             
        /*--------------------------------Conócenos--------------------*/
        .principal-conocenos{
            h2{
                font-size: 43px;
                text-align: center;
            }
        }    
        .titulo-conocenos{
            h2{
                font-size: 25px;
                text-align: center;
            }
            .consultorio{
                .consultorio-text{
                    font-size: 15px;
                }
                .consultorio-img{
                    flex-direction: column;
                }
            }
        }   
        .conocenos{
            h2{
                font-size: 25px;
                text-align: center;
            }
            .integrantes{
                .persona{
                    flex-direction: column;
                    .persona-texto{
                        padding-right: 0px;
                        padding-left: 0px;
                        h3{
                            font-size: 30px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }       
        /*--------------------------------Servicios--------------------*/       
        .principal-servicios{
            h2{
                font-size: 43px;
                text-align: center;
            }
        }    
        .titulo-servicios{
            .especialidad-contenedor{
                .especialidad{
                    .especialidad-text{
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }    
        .servicios{
            .tratamientos{
                .tecnica{
                    .tecnica-texto{
                        padding-right: 0px;
                        padding-left: 0px;
                        h3{
                            text-align: center;
                        }
                    }
                }
            }
        }    
    }
    /*-------------------------Fixed - Index-------------------*/
    .fixed{
        display: none;
    }
}

@media screen and (max-width:650px){
    main{        
        /*--------------------------------Index-------------------*/
        .hero{
            div{
                width: 320px;
                align-items: center;
                h2{
                    width: 320px;
                    font-size: 30px;
                    margin-left: 0px;
                }
                p{        
                    font-size: 20px;  
                    width: 320px;      
                }
            }
        }               
        .titulo-bienvenidos{
            h2{
                font-size: 20px;
            }
            .bienvenidos{
                .bienvenidos-text{
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .bienvenidos-img{
                    img{
                    width: 320px;
                    height: 450px;
                    }
                }
            }
        }   
        .ubicacion{
            h2{
                font-size: 20px;
            }
            .ubicacion-map{
                margin: 0px;
                padding: 0px; 
                iframe{        
                    width: 300px;
                    height: 300px;
                }
            }
        }              
        /*--------------------------------Conócenos-------------------*/    
        .principal-conocenos{
            h2{
                font-size: 30px;
            }
        }   
        .titulo-conocenos{
            h2{
                font-size: 20px;
            }
            .consultorio{
                .consultorio-text{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .consultorio-img{
                    img {
                        width: 320px;
                    }
                }
            }
        }     
        .conocenos{
            h2{
                font-size: 20px;
            }
            .integrantes{
                .persona{
                    img{
                        width: 310px;
                        height: auto;
                    }
                }
            }
        }    
        /*--------------------------------Servicios-------------------*/        
        .titulo-servicios{
            .especialidad-contenedor{
                .especialidad{
                    .especialidad-img{
                        img{
                            width: 320px;
                            height: auto;       
                        }
                    }
                }
            }
        }    
        .servicios{
            .tratamientos{
                .tecnica{
                    img{
                        width: 310px;
                        height: auto;
                    }
                }
            }
        }   
        /*--------------------------------Contactos-------------------*/     
        .contacto{
            form{                 
                width: 90%;    
            }  
        }
    }
}