$color-principal: #693f3f;
$color-secundario: #dddddd;
$color-terciario: hsl(0, 0%, 61%);

%button{
    text-decoration: none;
    cursor: pointer; 
    color: #ffffff;
    background-color: #000000;    
    box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);  
    transition-property: color; 
    transition-duration: 0.3s; 
}

@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}